# Configuration Environnement NetflixLight Backend

# Environment
NODE_ENV=development

# Server
PORT=3000

# Base de données SQLite
DB_PATH=./data/netflixlight.db

# TMDB API (The Movie Database)
# Obtenir votre clé sur https://www.themoviedb.org/settings/api
TMDB_API_KEY=9bc19770639ed0ec6fd4ff1e1576770d
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YmMxOTc3MDYzOWVkMGVjNmZkNGZmMWUxNTc2NzcwZCIsIm5iZiI6MTczNDY5NzkyNi42MzMsInN1YiI6IjY3NjU3MzNlZTJhNGU0MDQwZmVlOTdlNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vtcarvUtwLQnwH3734vj2HhPGeOB6ZTjH-w0uKvFsKk

# JWT Configuration
JWT_SECRET=netflixlight-super-secret-key-CHANGE-IN-PRODUCTION
JWT_EXPIRES_IN=24h

# Session Configuration
SESSION_SECRET=netflixlight-session-super-secret-CHANGE-IN-PRODUCTION

# CORS
CORS_ORIGIN=http://localhost:5500

# Security
BCRYPT_ROUNDS=10
